.auth-page__btn-submit {
  background-color: white;
  color: black;
  outline: 0;
  border: none;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding: 0;
  margin: 186px 0 0;
}

.auth-page__btn-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
