.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 430px) {
  .profile__info {
    max-width: 100%;
  }
}
